@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanh toán đơn hàng</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <style>
        .input {
            padding: 10px 20px;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 10px;
            outline: none;
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-7 pt-5">
                <h5>Nhà xuất bản Kim Đồng</h5>
                <p>
                    <a href="/Giohang/Giohang" class="text-decoration-none me-2">Giỏ hàng</a> >
                    <span class="ms-2 me-2">Thông tin vận chuyển</span> >
                    <span class="ms-2" style="color: rgba(0, 0, 0, 0.2);">Thanh toán</span>
                </p>
                <p>Thông tin thanh toán</p>
                <div class="d-flex">
                    <div class="d-flex justify-content-center align-items-center p-3 me-3" style="background-color: rgba(0,0,0,0.2); color: #fff; border-radius: 10px; width: 50px; height: 50px; font-size: 20px;">
                        <ion-icon name="person-outline"></ion-icon>
                    </div>
                    <div>
                        <p class="mb-1">@ViewBag.HoTen</p>
                        <p style="color: blue">Dang xuat</p>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <input value="@ViewBag.HoTen" class="input" readonly/>
                    <input value="@ViewBag.DiaChi" class="input" readonly/>
                    <input value="@ViewBag.DienThoai" class="input" readonly/>
                </div>
                <div class="d-flex justify-content-between">
                    <a class="btn btn-info" href="/GioHang/GioHang">Giỏ hàng</a>
                    <a class="btn btn-info" href="/GioHang/ThanhToan">Thanh toán</a>
                </div>
            </div>
            <div class="col-5 p-5 d-flex flex-column" style="background-color: rgba(0,0,0,0.05); height: 100vh; border-left: 1px solid rgba(0,0,0,0.2); border-collapse: collapse">
                <div style="flex: 1;">
                    @foreach(var item in Model)
                    {
                        <div class="mb-3 d-flex justify-content-between align-items-center">
                            <div style="width: 20%; position: relative; border: 1px solid rgba(0,0,0,0.2); border-radius: 10px; background-color: #fff;" class="ps-2 pe-2">
                                <img src="~/Content/img/product/@item.sAnhBia" class="d-block w-100"/>
                                <span style="position: absolute; top: 0; right: 0; width: 20px; height: 20px; color: #fff; background-color: rgba(0,0,0,0.4); border-radius: 100rem; transform: translate3d(50%, -50%, 0)" class="d-flex justify-content-center align-items-center">@item.iSoLuong</span>
                            </div>
                            <h6 style="font-size: 12px;" class="ms-3">@item.sTenSach</h6>
                            <p style="width: 15%;" class="ms-3">@String.Format("{0:0,0}đ", item.dDonGia)</p>
                        </div>
                    }
                </div>
                <div class="pt-3 pb-3 d-flex" style="border: solid rgba(0,0,0,0.2); border-width: 1px 0 1px 0">
                    <input style="flex: 1; margin: 0" class="me-3 input" placeholder="Mã giảm giá"/>
                    <button class="btn btn-secondary">Sử dụng</button>
                </div>
                <div class="pt-3 pb-3" style="border-bottom: 1px solid rgba(0,0,0,0.2);">
                    <h6>Khách hàng thân thiết</h6>
                    <div>
                        <ion-icon name="diamond-outline"></ion-icon>
                        <span>Member</span>
                    </div>
                </div>
                <div class="pt-3 pb-3">
                    <p class="d-flex justify-content-between">
                        <span>Tạm tính: </span>
                        <span style="font-weight: bold;">@String.Format("{0:0,0}đ", ViewBag.TongTien)</span>
                    </p>
                    <p class="d-flex justify-content-between">
                        <span>Phí ship: </span>
                        <span style="font-weight: bold;">-</span>
                    </p>
                </div>
                <div style="border-top: 1px solid rgba(0,0,0,0.2);" class="pt-3 pb-3">
                    <p class="d-flex justify-content-between">
                        <span>Tổng tiền: </span>
                        <span style="font-weight: bold;">@String.Format("{0:0,0}đ", ViewBag.TongTien)</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
